@font-face {
  font-family: 'Cafe';
  src: url('fonts/Cafe.ttf');
}
@font-face {
  font-family: 'Cafe Bold';
  src: url('fonts/CafeBold.ttf');
}
body {
    background-color: #1e1e1e;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  header {
    background-color: #ff4500;
    color: #1e1e1e; 
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-size:1.2em;
    font-family: 'Cafe';
  }
  .header-image {
    flex: 0 0 120px; 
    margin-right: 5%;
    margin-left: 3%;
  }
  .header-text {
    flex: 1;
    text-align: left;
    margin-left: -10px; 
  }
  .header-text h1{
    margin-top: -.05%;
    margin-bottom: -.05%;
    font-size:3em;
    font-family: 'Cafe';
  }
  .header-text a {
    color: #1e1e1e;
    text-decoration: none;
    font-weight: bold;
    display: block;
  }
  .bottom{
    margin-bottom:2%;
  }
  .header-text p {
    margin: 5px 0;
    font-weight:bold;
  }
  .header-image img {
    width: 165px;
    height: 165px;
    border-radius: 50%;
    object-fit: cover;
  }
  main {
    padding: 20px;
  }
  h2 {
    color: #ff4500;
    font-size: 2em;
    margin-top: 30px;
    border-bottom: 2px solid #ff4500;
    padding-bottom: 5px;
    font-family: 'Cafe';
  }
  p {
    font-size: 1em;
    margin: 5px 0;
  }
  a {
    color: #ff4500;
    text-decoration: underline;
    
  }
  a:hover {
    text-decoration: underline;
  }
  ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  .sublist {
    font-size: 0.9em;
    margin: 5px 0;
    padding-left: 25px;
  }
  .sublist li {
    margin: 3px 0;
  }
  .sublist::marker {
    color: #ff4500;
  }
  .maxis {
    max-width: 80%; 
    height: auto;   
    display: block; 
    margin: 10px auto; 
    border: 2px solid #ff4500; 
  }
  .parallax-fade img {
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  }
  .parallax-slide-up {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
  .skills {
    margin-top: -30px;
    margin-bottom: 50px;
    padding: 10px;
    border: 2px solid #ff4500;
    border-radius: 8px;
    background-color: #2a2a2a;
  }
  .skills h3 {
    color: #ff4500;
    font-size: 1.4em;
    margin-bottom: 10px;
    border-bottom: 1px solid #ff4500;
    padding-bottom: 5px;
  }
  .skills h4 {
    font-size: 1em;
    font-weight: normal;
    margin: 5px 0 15px 0;
    color: #ffffff;
    line-height: 1.5;
  }
  .contact{
    text-align: center;
    padding: 10px;
    border: 2px solid #ff4500;
    border-radius: 8px;
    background-color: #2a2a2a;
  }